<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/user/edit/{id}(id=${customer1.customerID})}" th:object="${customer1}" method="post">
  <label>User Name</label>
  <input name="name" th:field="*{name}"> <br>

  <label>Address</label>
  <input name="address" th:field="*{address}"> <br>
  <label>City</label>
  <input name="city" th:field="*{city}"><br>
  <label>Country</label>
  <input name="country" th:field="*{country}"><br>
  <label>Email</label>
  <input name="email" th:field="*{email}"> <br>
  <label>Phone</label>
  <input name="phone" th:field="*{phone}"><br>
  <label>Ward</label>
  <input name="ward" th:field="*{ward}"><br>
  <button type="submit">SAVE CUSTOMER</button>
  <a th:href="@{/user/getList}">Back to list</a>
</form>
</body>
</html>