<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/history/tb-history/css/style.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btn_load").click(function(){
                var amount = document.getElementsByClassName("item-history").length;
                /*x.value = x.value.toUpperCase();*/

                $.ajax({
                    type: "GET",
                    url: "/api/load-more",
                    data: {
                        page: amount
                    },
                    success: function (data) {
                        // $("#bienso").value = (data);


                        if(data) {
                            var row = document.getElementById("item-history-list");
                            var s = '';
                            for (var i = 0; i < data.length; i++) {
                                s += '<tr class="item-history">';
                                s += '    <td>' + data[i].licensePlate + '</td>';
                                s += '    <td>' + data[i].vehicleType + '</td>';
                                s += '    <td>' + data[i].timeIn + '</td>';
                                s += '    <td>' + data[i].timeOut + '</td>';
                                if(data[i].hasContract) {
                                    s += '    <td> v </td>';
                                    s += '    <td> - </td>';
                                } else {
                                    s += '    <td> - </td>';
                                    s += '    <td>' + data[i].price + '</td>';
                                }
                                s += '</tr>';
                            }
                            row.innerHTML += s;
                        }
                    }
                });
            });

        });

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>License Plate</th>
                            <th>Vehicle Type</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>Has Contract</th>
                            <th>Price</th>
                        </tr>
                    </thead>

                    <tbody id="item-history-list">
                        <tr th:each="data : ${historyList}" class="item-history">
                            <td th:text="${data.licensePlate}"></td>
                            <td th:text="${data.vehicleType}"></td>
                            <td th:text="${data.timeIn}"></td>
                            <td th:text="${data.timeOut}"></td>
                            <td th:text="${data.hasContract == null ? '-' : data.hasContract}"></td>
                            <td th:text="${data.price == null ? '-' : data.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <span class="align-center" id="btn_load">load more</span>
            </div>
        </div>
    </div>
</div>
    <script src="../static/history/tb-history/js/jquery.min.js"></script>
    <script src="../static/history/tb-history/js/popper.js"></script>
    <script src="../static/history/tb-history/js/bootstrap.min.js"></script>
    <script src="../static/history/tb-history/js/main.js"></script>
</body>
</html>