<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>User Info Page</h2>
<h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
<a href="/user/addCustomer">Create new customer</a>
<a href="/addContract">Create new contract</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
</body>
</html>